<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>FEMA Project 2</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    
        <div class="container">
            <div class="row">
                    <div class="col-md-12 jumbotron text-center">
                        <h1>The Impacts of Million Dollar Disasters and our Future Climate</h1>
                     
                    </div>
            <div class="row">
                    <div class="col-md-12">
                        <h2> Breaking down Deaths by Disaster</h2>
                        <div id="deathpie"></div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <h2> Breaking down Cost by Disaster</h2>
                        <div id="costpie"></div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <h2> Breaking down Deaths by Disaster</h2>
                        <div id="scatter"></div>
                        </div>
                    </div>
                </div>
            <!-- <div class="row">
                    <div class="col-md-12">
                        <h2> Breaking down Deaths by Disaster Dual Axis</h2>
                        <div id="doublescatter"></div>
                        </div>
                    </div>
                </div> -->
                <h2> Envisioning 2100: Which Cities will be most affected by Sea Level Rise (NOAA/Zillow Analysis)</h2>
                <div class='tableauPlaceholder' id='viz1527036459344' style='position: relative'>
                    <noscript><a href='#'><img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ri&#47;RisingTide-ZillowData&#47;Story1&#47;1_rss.png' style='border: none' /></a>
                    </noscript><object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='RisingTide-ZillowData&#47;Story1' /><param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ri&#47;RisingTide-ZillowData&#47;Story1&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                
                        <script type='text/javascript'>                    
                        var divElement = document.getElementById('viz1527036459344');
                        var vizElement = divElement.getElementsByTagName('object')[0];                    
                        vizElement.style.width='1016px';vizElement.style.height='991px';                    
                        var scriptElement = document.createElement('script');                    
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                        </script>


            <script src="{{ url_for('static', filename='js/plot3.js') }}"></script>
            <script src="{{ url_for('static', filename='js/plot2.js') }}"></script>
            <script src="{{ url_for('static', filename='js/plot1.js') }}"></script>
            <!-- <script src="{{ url_for('static', filename='js/plot4.js') }}"></script> -->
            </div>
    </body>
    

</html>